In [1]:
ALTER TABLE employee
ADD password NVARCHAR(255);

In [2]:
DELETE FROM employee;
DELETE FROM organisation;

In [ ]:
WITH RECURSIVE EmployeeHierarchy AS (
                    SELECT
                        id AS key,
                        employeeId AS empId,
                        manager,
                        firstName + ' ' + lastName AS name,
                        role AS title,
                        gravatarURL AS image,
                        1 AS level
                    FROM employee
                    WHERE manager IS NULL
                    UNION ALL
                    SELECT
                        e.id AS key,
                        e.manager,
                        e.name,
                        e.title,
                        e.image,
                        eh.level + 1
                    FROM employee e
                    INNER JOIN EmployeeHierarchy eh ON e.manager = eh.key
                )
                SELECT * FROM EmployeeHierarchy;

In [9]:
CREATE TABLE [dbo].[organisation] (
    [id] UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    [name] NVARCHAR (50) NULL,
    [logo] NVARCHAR (MAX) NULL,
    CONSTRAINT [PK_org] PRIMARY KEY CLUSTERED ([id] ASC)
);

In [1]:
ALTER TABLE [dbo].[organisation]
ADD [created_at] DATETIME2 DEFAULT (SYSDATETIME()) NOT NULL;